
body {
    background: white;
    color: black;   
    font-family: Verdana, Arial, sans-serif
}

h1 {
    font-size: 150%;
    margin: 1em;
}

h2 {
    font-size: 120%;
}

p {
    padding: 1em 0;
}

#status {
    font-size: 200%;
    padding: 1em;
    margin: 0.5em 2em;
    width: 5em;
    border-radius: 0.5em;
    border: 1px solid black;
}

.success {
    background: #97FF7D;
}

.working {
    opacity:0.6;
}

.error {
    background: #FF6E6E;
}