
body {
    background: white;
    color: black;   
    font-family: Verdana, Arial, sans-serif
}

h1 {
    font-size: 150%;
    margin: 1em;
}

h2 {
    font-size: 120%;
}

p {
    padding: 1em 0;
}

#status {
    font-size: 200%;
    padding: 1em;
    margin-left: 2em;
    width: 5em;
    border-radius: 0.5em;
    border: 1px solid black;
}

#build, 
#check, 
#deploy {
    min-height: 3em;
    margin: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.3em;
    overflow: hidden;
}

.success {
    background: #97FF7D;
}

.undet {
    background: #CCCCCC;
}

.working {
    background: #6EA1FF;
}

.error {
    background: #FF6E6E;
}